{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        cheshire/cheshire {:mvn/version "5.13.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "stakeholder.core-test"]}}}
